# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Experiment Agent - 排除工作空间和缓存
src/agents/experiment_agent/workspaces/
src/agents/experiment_agent/workspace/

# Idea Agent - 清除检索缓存
src/agents/idea_agent/cache/
src/agents/idea_agent/.cache
src/agents/survey_agent/config/database

# Survey Agent - 排除检索缓存
src/agents/survey_agent/database/
src/agents/survey_agent/logs


# Memory
src/memory/memory_system/.cache
src/memory/memory_system/__pycache__
src/agents/survey_agent/config/database/paper_keynotes

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Environment
.env
.venv/
venv/
memory_test.sh
epi_test/faiss.index
epi_test/meta.json
.gitignore
sem_test/faiss.index
sem_test/meta.json
.gitignore


